---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=5BKfzPqi7Y8&key=<ENV_API_KEY>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "ayiHHM9Ow94zq6k8o_Mzi_fEoY4",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "u8-HBadVvex2mpl4jmzws8MgpTo",
              "id": "5BKfzPqi7Y8",
              "snippet": {
                "publishedAt": "2020-07-23T17:58:41Z",
                "channelId": "UCPQkGIEndRC-LqeDAR20W8Q",
                "title": "ゲンジonly",
                "description": "",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/5BKfzPqi7Y8/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/5BKfzPqi7Y8/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/5BKfzPqi7Y8/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "かなやん。",
                "categoryId": "20",
                "liveBroadcastContent": "none",
                "localized": {
                  "title": "ゲンジonly",
                  "description": ""
                }
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 02 Nov 2020 01:22:09 GMT
recorded_with: VCR 6.0.0
