* {
  font-family: 'Sawarabi Mincho', sans-serif;
}

.hrbar {
  border-top: 5px solid gray;
  margin: 50px 0;
}

.main-content {
  position: relative;
}

.question-title {
  z-index: 3;
  position: absolute;
  top: 15%;
  left: 15%;
  background: linear-gradient(transparent 70%, yellow 70%);
}

.background-image {
  z-index: 2;
  text-align: center;
}

.button-group {
  z-index: 3;
  width: 70%;
  position: absolute;
  top: 40%;
  left: 15%;
}

.btn-initial {
  margin: 50px auto;
}

.select-number {
  font-weight: bold;
  float: left;
}

/* index */
.modal-question-title {
  background: linear-gradient(transparent 70%, yellow 70%);
}

.index-container{
  display: none;
}