<footer id="colophon" class="site-footer  footer-active-sidebar">
  <div class="container">
    <div class="widgets widgets-3" aria-label="Footer Sidebar">
      <aside id="sow-editor-3" class="widget widget_sow-editor">
        <div class="so-widget-sow-editor so-widget-sow-editor-base">
          <h2 class="widget-title heading-strike"><%= link_to 'トップに戻る', yourtuber_index_path, data: {"turbolinks" => false} %></h2>
        </div>
      </aside>
      <aside id="archives-2" class="widget widget_archive">
        <h2 class="widget-title heading-strike">© 2020-<%= Time.current.year %> All Rights Reserved</h2>
      </aside>
    </div>
  </div>
</footer>