<table class="table index-container-table">
  <thead class="thead-font">
    <tr>
      <th scope="col-md">チャンネル名</th>
      <th scope="col-md">某有名実況者M</th>
      <th scope="col-md">某有名実況者H</th>
      <th scope="col-md">動画投稿初心者</th>
    </tr>
  </thead>
  <tbody class="tbody-font">
    <tr>
      <th scope="row">チャンネル登録者数(2020.8.26時点)</th>
      <td>123万人</td>
      <td>486万人</td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">タグ</th>
      <td>ゲーム</td>
      <td>[チャンネル名]</td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">  </th>
      <td>Game</td>
      <td>フォートナイト</td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">  </th>
      <td>実況</td>
      <td>fortnite</td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">  </th>
      <td>実況プレイ</td>
      <td>生配信</td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">  </th>
      <td>実況プレイ動画</td>
      <td>生放送</td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">  </th>
      <td>実況動画</td>
      <td>LIVE</td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">  </th>
      <td>ゲーム実況</td>
      <td>LIVE配信</td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">  </th>
      <td>ゲーム実況動画</td>
      <td> - </td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">  </th>
      <td>マインクラフト</td>
      <td> - </td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">  </th>
      <td>マイクラ</td>
      <td> - </td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">  </th>
      <td>[チャンネル名]</td>
      <td> - </td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">  </th>
      <td>ぜんいち</td>
      <td> - </td>
      <td> - </td>
    </tr>
  </tbody>
</table>