<div class="index-container" id="index-container">
  <div class="row mx-md-auto border border-dark py-md-5">
    <%= render 'index-tag-describe' %>
    <div class="w-100"></div>
    <div class="col-md-10 mx-md-auto">
      <p>
        <a class="btn btn-primary mt-md-3 px-md-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          有名配信者のタグと動画投稿初心者のタグ例
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body text-left">
          <%= render 'index-container-table' %>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-10 mt-md-3 mx-md-auto">
      <%= link_to "では早速検索してみましょう！", new_yourtuber_path, class: "h3 text-info" %>
    </div>
  </div>
</div>