<div class="flexslider featured-posts-slider">
  <div class="flex-viewport" style="overflow: hidden; position: relative;">
    <ul class="slides featured-posts-slides" style="width: 1400%; transition-duration: 0s; transform: translate3d(-2280px, 0px, 0px);">
      <li id="flexslider-tag-describe" class="featured-post-slide clone image-options first-image-background" aria-hidden="true">
        <header class="slide-content ">
          <a class="slide-entry-link" href="javascript:cmanLinkScroll('post-1774')"></a>
          <div class="slide-inner">
            <div class="slide-inner-cell">
              <h2 class="entry-title">タグについて説明が必要ですか？</h2>
              <div class="entry-button">
                <%= link_to "ジャンプする", "javascript:cmanLinkScroll('post-1774')", class: "button" %>
              </div>
            </div>
          </div>
        </header>
      </li>
      <li id="flexslider-tag-search" class="featured-post-slide flex-active-slide second-image-background image-options">
        <header class="slide-content ">
          <a class="slide-entry-link" href="javascript:cmanLinkScroll('post-1822')"></a>
          <div class="slide-inner">
            <div class="slide-inner-cell">
              <h2 class="entry-title">Youtubeのタグ検索を行いますか？</h2>
              <div class="entry-button">
                <%= link_to "ジャンプする", "javascript:cmanLinkScroll('post-1822')", class: "button" %>
              </div>
            </div>
          </div>
        </header>
      </li>
    </ul>
  </div>
  <ul class="flex-direction-nav">
    <li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
    <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
  </ul>
</div>