<p>タグとはYoutubeで検索を行った際にヒットしやすくするために動画に加えるキーワードのことです。タグを複数指定することにより視聴回数の増加を促すことができることがあります。<br>YouTubeヘルプより ： 動画の検索時には、動画のタイトル、サムネイル、説明などのメタデータのほうがタグよりも重要な役割を果たします。こうした主要な情報は、視聴者が動画を見るかどうか決めるときの判断材料になります。</p>
<p>下記は有名配信者のタグと動画投稿初心者のタグ例です</p>