<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
<header id="masthead" class="site-header">
  <div class="sticky-bar-sentinel" style="height: 0px;"></div>
  <%= render 'index_navigation' %>
  <div id="header" class="container">
    <div class="site-branding">
      <h1 class="site-title">Yourtuber</h1>
    </div>
  </div>
</header>