<div class="index-modal" id="index-modal">
  <div class="row mx-md-auto border border-dark py-md-5">
    <div class="col-md-6 mx-md-auto">
      <h1 class="modal-question-title text-center">タグの説明は必要ですか？</h1>
    </div>
    <div class="w-100 my-md-5"></div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4 text-center">
      <button type="button" class="btn btn-primary btn-lg h3 px-md-4 py-md-2" id="index-modal-nessesary">必要</button>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4 text-center">
      <%= link_to "不必要", new_yourtuber_path, class: "btn btn-success btn-lg h3 px-md-4 py-md-2", id: "index-modal-unnessesary" %>
    </div>
  </div>
</div>