<div class="top-bar sticky-bar sticky-menu">
  <div class="container">
    <nav id="site-navigation" class="main-navigation mx-auto" role="navigation">
      <div class="menu-main-menu-container">
        <ul id="primary-menu" class="menu">
          <li id="menu-item-1636" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1636 mr-5"><a class="navigation-botton-position align-middle" aria-current="page" href="javascript:cmanLinkScroll('post-1774')" aria-current="page">タグについて</a></li>
          <li id="menu-item-2094" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2094 ml-5 mr-4"><a href="javascript:cmanLinkScroll('post-1822')" aria-current="page">yourtuberでタグ検索してみましょう！</a></li>
          <li id="menu-item-1881" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1881 ml-5"><a href="javascript:cmanLinkScroll('page')" aria-current="page">ホームに戻る</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>