<div class="top-bar sticky-bar sticky-menu">
  <div class="container">
    <nav id="site-navigation" class="main-navigation w-100" role="navigation">
      <div class="menu-main-menu-container w-75 mx-auto">
        <ul id="primary-menu" class="menu d-flex justify-content-around">
          <li id="menu-item-1636" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1636 mr-5 pr-5">
            <%= link_to "タグについて", "#post-1774", class: "navigation-botton-position align-middle", aria: {current: "page"} %>
          <li id="menu-item-2094" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2094">
            <%= link_to "yourtuberでタグ検索してみましょう！", "#post-1822", class: "navigation-botton-position align-middle", aria: {current: "page"} %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>