<div id="primary" class="content-area">
  <article id="post-1774" class="archive-entry post-1774 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-experiences tag-trains tag-transport">
    <header class="entry-header">
      <h2 class="entry-title">タグ検索結果</h2>
    </header>
    <div class="search-container">
      <% @find_videos_list.items.each do |item| %>
        <p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @input_video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </p>
        <div class="tags-form">
          <u class="h4 tags-form-title">
            この動画のタグはこちらです！
          </u>
          <div class="tags-form-elements p-md-4 border rounded bg-light">
            <% if item.snippet.tags.present? %>
              <% item.snippet.tags.each do |tag| %>
                <span class="h5 border border-info rounded-pill text-center px-md-3 m-3"><%= tag %></span>
              <% end %>
            <% else %>
              <span class="h5 text-center px-md-3 m-3">タグはありません</span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </article>
</div>