<%# modal %>
<div class="index-modal" id="index-modal">
  <div class="row mx-auto border border-dark py-5">
    <div class="col-md-6 mx-auto">
      <h1 class="modal-question-title text-center">タグの説明は必要ですか？</h1>
    </div>
    <div class="w-100 my-5"></div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4 text-center">
      <button type="button" class="btn btn-primary btn-lg h3 px-4 py-2" id="index-modal-nessesary">必要</button>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4 text-center">
      <%= link_to "不必要", new_yourtuber_path, class: "btn btn-success btn-lg h3 px-4 py-2" %>
    </div>
  </div>
</div>
<%# index %>
<div class="index-container" id="index-container">
  <div class="row mx-auto border border-dark py-5">
    <div class="col-md-6 mx-auto">
      <h1 class="modal-question-title text-center">Youtubeのタグとは</h1>
    </div>
    <div class="w-100 my-5"></div>
    <div class="col-md-10 mx-auto">
     <p class="h5 text-primary mb-3">Youtubeで検索を行った際にヒットしやすくするために動画に加えるキーワードのことです。</p>
     <u><span>YouTubeヘルプより ： </span>動画の検索時には、動画のタイトル、サムネイル、説明などのメタデータのほうがタグよりも重要な役割を果たします。こうした主要な情報は、視聴者が動画を見るかどうか決めるときの判断材料になります。</u>
     <p class="mt-3">上記のようにYouTubeヘルプに書いてはありますが、実際には有名配信者と動画投稿初心者にはタグの量が大きく違うことがあります。<span class="text-danger">使えるものは全て使うべきだということですね。</span></p>
    </div>
    <div class="w-100"></div>
    <div class="col-md-10 mx-auto">
      <p>
        <a class="btn btn-primary mt-3 px-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          有名配信者のタグと動画投稿初心者のタグ例
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body text-left">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">チャンネル名</th>
                <th scope="col">まいぜんシスターズ</th>
                <th scope="col">HikakinGames</th>
                <th scope="col">動画投稿初心者</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">チャンネル登録者数(2020.8.26時点)</th>
                <td>123万人</td>
                <td>486万人</td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row">タグ</th>
                <td>ゲーム</td>
                <td>ヒカキン</td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>Game</td>
                <td>フォートナイト</td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>実況</td>
                <td>fortnite</td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>実況プレイ</td>
                <td>生配信</td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>実況プレイ動画</td>
                <td>生放送</td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>実況動画</td>
                <td>LIVE</td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>ゲーム実況</td>
                <td>LIVE配信</td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>ゲーム実況動画</td>
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>マインクラフト</td>
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>マイクラ</td>
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>まいぜん</td>
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>マイッキー</td>
                <td> - </td>
                <td> - </td>
              </tr>
              <tr>
                <th scope="row"> 〃 </th>
                <td>ぜんいち</td>
                <td> - </td>
                <td> - </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-10 mt-3 mx-auto">
      <%= link_to "では早速検索してみましょう！", new_yourtuber_path, class: "h3 text-info" %>
    </div>
  </div>
</div>