<%# modal %>
<div class="index-modal">
  <div class="row mx-auto border border-dark py-5">
    <div class="col-md-6 mx-auto">
      <h1 class="modal-question-title text-center">タグの説明は必要ですか？</h1>
    </div>
    <div class="w-100 my-5"></div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4 text-center">
      <button type="button" class="btn btn-primary btn-lg h3">必要</button>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4 text-center">
      <button type="button" class="btn btn-success btn-lg h3">必要</button>
    </div>
  </div>
</div>
<%# index %>
<div>