<div class="main-content">
  <div class="background-image">
    <%= image_tag "background-image.png" , class: "img-fluid border", alt: "background-image" %>
  </div>
  <%# tag-content %>
  <div class="tag-content" id="tag-content">
    <h1 class="question-title">動画のIDを入力してください</h1>
    <form class="button-group">
      <div class="form-group">
        <label class="h4 float-left mb-3">タグを検索する</label>
        <input class="form-control form-control-lg" placeholder="動画IDを入力してください">
        <button type="submit" class="btn btn-primary my-3">確定して次へ</button>
        <p>
          <button class="btn btn-primary mt-3 px-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            動画ID入力例
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body text-left">
            <p>動画URL: https://www.youtube.com/watch?v=<span class="text-danger">-bNMq1Nxn5o</span></p>
            <p>タグを調べてみたい動画のURLを確認してください。上記の例では<span class="text-danger">-bNMq1Nxn5o</span>の赤文字部が動画IDになります。</p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <%# question1 %>
  <%# <div class="more_search" id="more_search">
    <h1 class="question-title">文字を入力してください</h1>
    <form class="button-group">
      <div class="form-group">
        <label class="h4 float-left">タグを指定する</label>
        <input class="form-control form-control-lg" placeholder="タグ名を入力してください">
        <button type="submit" class="btn btn-primary my-3">確定して次へ</button>
        <p>
          <button class="btn btn-primary mt-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            タグの例を確認する
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body text-left">
            <p>"ゲーム実況","apex","overwatch","モンスターストライク"etc...</p>
            <p>調べてみたい内容の単語を指定してください。今回は作者の好きなゲームの単語を並べてみました。</p>
          </div>
        </div>
      </div>
    </form>
  </div> %>
  <%# question2 %>
  <%# <div class="main-content2" id="main-content2">
    <h1 class="question-title">Qustion...カキクケコ？</h1>
    <div class="button-group">
      <div class="btn-initial">
        <button type="button" class="btn btn-outline-primary btn-lg btn-block btn-position" id="button1"><span class="select-number">Select.1</span>Secondary</button>
      </div>
      <div class="btn-initial"> 
        <button type="button" class="btn btn-outline-success btn-lg btn-block"><span class="select-number" id="button2">Select.2</span>Success</button>
      </div>
    </div>
  </div> %>
</div>