<body data-rsssl="1" class="home blog theme-siteorigin-unwind woocommerce-js css3-animations hfeed homepage-has-slider header-design-1 page-layout-default page-layout-hide-masthead page-layout-hide-footer-widgets sticky-menu sidebar">
  <div id="page" class="hfeed site">
    <%= render 'result_header' %>
    <div id="content" class="site-content">
      <div class="container">
				<%= render 'result_content_area' %>
      </div>
    </div>
    <%= render 'index_footer' %>
  </div>
  <div id="scroll-to-top" class="" style="pointer-events: none;">
    <span class="screen-reader-text">Scroll to top</span>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="55" height="32" viewBox="0 0 55 32">
      <path fill="#fff" d="M50.276 32l-22.829-22.829-22.829 22.829-4.553-4.553 27.382-27.415 27.415 27.415z"></path>
    </svg>
  </div>
  <%= render 'plugin_options_part' %>
  <div id="quick-view-container">
    <div id="product-quick-view" class="quick-view"></div>
  </div>
</body>