<div class="main-content">
  <div class="background-image">
    <%= image_tag "background-image.png" , class: "img-fluid" %>
  </div>
  <div class="button-group">
    <div class="btn-initial">
     <button type="button" class="btn btn-primary btn-lg btn-block btn-position">Primary</button>
    </div>
    <div class="btn-initial"> 
      <button type="button" class="btn btn-success btn-lg btn-block">Success</button>
    </div>
  </div>
</div>