<footer class="row">
  <div class="col-md-3">
  </div>
  <p class="float-right col-md-3">
    <%= link_to 'トップに戻る', yourtuber_index_path %>
  </p>
  <p>© 2020-<%= Time.current.year %> Company, Inc. · <a href="#">プライバシー</a> · <a href="#">利用規約</a></p>
</footer>