<hr class="hrbar">
<footer class="row">
  <div class="col-md-3">
  </div>
  <p class="float-right col-md-3"><a href="#">トップに戻る</a></p>
  <p>© 2020-<%= Time.current.year %> Company, Inc. · <a href="#">プライバシー</a> · <a href="#">利用規約</a></p>
</footer>