<header class="sticky-top">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark row">
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <a class="navbar-brand" href="/yourtuber/show"><h2>Yourtuber</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      </button>
    </div>
    <div class="col-md-6">
      <span class="text-white-50"><h3>youtuberを検索してみましょう！</h3></span>
    </div>
    <div class="collapse navbar-collapse col-md-2" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'ホームに戻る', yourtuber_index_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</header>